.hero{
    width:100%;
    padding:2px;
    min-height:400px;     
}
.hero-container{
    display:flex;
    width:100%;
    min-height:400px;
    background-image:url(/images/pexels-photo-532571.jpeg);
    background-size:100% 100%;
    justify-content: center;
    align-items: center;  
}
.hero-container__box{
    color:#130f40;
    text-align: center;
    font-weight: bold;   
}
.hero-container__box-header{
    font-size: 34px;
    text-transform: uppercase;
}
.hero-container__box-info{
    font-size: 20px;   
} 

@media only screen and (max-width: 568px) {
    #section-hero__dummy-marker{
        top:-150px;
    }
}