.navigate__container{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.navigate__container__list {
    display: flex;
    width: 100%;
    list-style-type: none; 
    justify-content: center;
    padding: 0;
	margin: 0;
}
.navigate__container__list__menu-item {
    flex-grow: 1;
    height:50px;
	background-color: red;
}
.navigate__container__list__menu-item__link {
    display: block;
    font-size: 28px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
}
.navigate__container__list__menu-item__link:hover {
    background-color:#778beb;

}

.navigate__container__list__menu-item__link:visited {
	background-color: rgb(255, 38, 0);
	color: white;

}