.navigate{
    position: fixed;
    height:50px;
	left: 0;
	top: 0;
    width: 100%;   
}
.navigate-container {
    display: flex;
    width: 100%;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}
.navigate-container__menu-item {
    flex-grow: 1;
    height:50px;
	background-color: #130f40;
}
.navigate-container__link {
    display: block;
    height:50px;
    font-size: 28px;
    color:#95afc0;
    line-height: 50px;
    text-decoration: none;
    text-align: center;   
}
.navigate-container__link:hover {
    background-color:#30336b;
}
