.navigate__container{
    position: fixed;
    height:50px;
	left: 0;
	top: 0;
    width: 100%;
    
}
.navigate__container__list {
    display: flex;
    width: 100%;
    list-style-type: none; 
    padding: 0;
    margin: 0;
}
.navigate__container__list__menu-item {
    flex-grow: 1;
    height:50px;
	background-color: #303952;
}
.navigate__container__list__menu-item__link {
    display: block;
    height:50px;
    font-size: 28px;
    color: #82589F;
    line-height: 50px;
    text-decoration: none;
    text-align: center;   
}
.navigate__container__list__menu-item__link:hover {
    background-color:#D6A2E8;
}
